<div class="ui page grid" style="margin-top:1rem;">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui middle aligned grid">
                <div class="row">
                    <div class="six wide column">
                        <center>
                            <div class="ui blue labeled icon button" id="digitalOceanConnect">
                                <i class="cloud icon"></i>
                                Connect with DigitalOcean
                            </div>
                        </center>
                    </div>
                    <div class="ten wide column">
                        <h1 class="ui center aligned header" style="font-family: 'Pacifico', cursive;">
                            spark.DO
                        </h1>
                        <div class="ui divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="owl-carousel">
                <div style="margin-bottom:1rem;">
                    <div class="ui page grid">
                        <div class="middle aligned row">
                            <div class="eight wide column">
                                <center>
                                    <img class="rounded ui image" src="img/carousel/sparkdo.png">
                                </center>
                            </div>
                            <div class="eight wide column">
                                <div class="ui blue segment">
                                    <div class="ui blue ribbon label">Monitor your DigitalOcean Droplets</div>
                                    <p>Stay always up-to-date about all important information of your DigitalOcean instances.</p>
                                    <div class="ui ribbon label">Visual Feedback</div>
                                    <p>Detect problems with ease thanks to visual feedback.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:1rem;">
                    <div class="ui page grid">
                        <div class="middle aligned row">
                            <div class="eight wide column">
                                <center>
                                    <img class="rounded ui image" src="img/carousel/pebble.png">
                                </center>
                            </div>
                            <div class="eight wide column">
                                <div class="ui blue segment">
                                    <div class="ui blue ribbon label">Manage your Droplets on the go</div>
                                    <p>The Pebble app enables you to trigger the most important commands.</p>
                                    <div class="ui ribbon label">Always an eye on the status.</div>
                                    <p>Status reports reduce downtime of your applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="five wide column">
        </div>
        <div class="six wide column">
            <center>
                <div class="two fluid tiny ui basic buttons">
                    <a href="http://www.iubenda.com/privacy-policy/825104" target="_blank" class="ui basic button">
                        <i class="info icon"></i>
                        Privacy Policy
                    </a>
                    <a href="mailto:frable90@gmail.com" class="ui basic button">
                        <i class="mail icon"></i>
                        Contact Us
                    </a>
                </div>
            </center>
        </div>
        <div class="five wide column">
        </div>
    </div>
</div>
